{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">
        <h2>Editer l'offre</h2>
{{ include ('admin/property/_form.html.twig',{button:'editer'}) }}
    </div>

{% endblock %}

