<footer class="footer mt-auto py-3 bg-dark">
    <div class="my-2 px-3">
        <span class="badge badge badge-light"><i class="far fa-copyright"></i> {{ 'now'|date('Y')}} by <a href="" class="text-dark">Targuii</a></span>
        <a href="https://github.com/Targuii" class="float-right mt-n2" data-toggle="tooltip" data-placement="left" title="" data-original-title="Star us on Github"><i class="fab fa-github-square fa-2x align-middle text-light"></i></a>
    </div>
</footer>