<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Mon Agence</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if current_menu is defined and current_menu  == 'home' %}active{% endif %}">
                <a class="nav-link" href="{{ path('home') }}">Home {% if current_menu is defined and current_menu == 'home' %}<span class="sr-only">(current)</span>{% endif %}</a>
            </li>
            <li class="nav-item {% if current_menu is defined and current_menu == 'properties' %}active{% endif %}">
                <a class="nav-link" href="{{ path('property.index') }}">Nos Annonces{% if current_menu is defined and current_menu == 'properties' %}<span class="sr-only">(current)</span>{% endif %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        {% if app.user %}
        <ul class="navbar-nav mr-5">
            <li class="nav-item">
                <a href="{{ path('logout') }}" class="text-light"><i class="fas fa-lock-open"></i> Logout </a>
            </li>
        </ul>
        {% endif %}

    </div>
</nav>